.cv{
    border: 10px ridge silver;
    position: relative;
}

body{
    /* background-color: slategray; */
}

.header{
    text-align: center;
    color: black;
    background-color: silver;
    font-size: 30px;
    border: 10px ridge black;
}

footer{

}

@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */

    div.cv img{
        width: 100%;
        height: 100%;
    }
  }