.cv{
    border: 10px ridge silver;
    position: relative;
}

body{
    /* background-color: slategray; */
}

.header{
    text-align: center;
    color: black;
    background-color: silver;
    font-size: 30px;
    border: 10px ridge black;
}

footer{
    
}